<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  

  
  <h1>About Me</h1>
  <h3>Marco Garcia</h3>
  <img src="/Assets/images/1.jpg" width="10%" height="20%">
  <p>A student at Centennial College under the Software Engineering Technology program.</p>
  <p>Some of the things I like to do:</p>
  <ul>
    <li>watching sports</li>
    <li>watching movies</li>
    <li>surfing the net</li>
    <li>eating</li>
    <li>travelling</li>
    <li>go to amusement parks</li>
 </ul>


 <a href="/Assets/images/resume.pdf">Click to view my resume</a> 

 <style>
  html {
height: 100%;
margin: 0;
}
  body {
    background: radial-gradient(aqua, white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: black;
  }
  </style>

   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

